MYSQL_HOST = 127.0.0.1
MYSQL_DATABASE = solrewards
MYSQL_PORT = 3306
MYSQL_USER = root
MYSQL_PASSWORD =

HELIUS_API_KEY =

FEE_RECIPIENT_WALLET_KEY_FILE=./path/to/file.json
TREASURY_WALLET_KEY_FILE=./path/to/file.json
JACKPOT_WALLET_KEY_FILE=./path/to/file.json
BUYBACK_WALLET_KEY_FILE=./path/to/file.json