MYSQL_HOST = myssql_host_address
MYSQL_DATABASE = myssql_database_name_here
MYSQL_PORT = mysql_port_here
MYSQL_USER = mysqml_user_here
MYSQL_PASSWORD = mysql_password_here

HELIUS_API_KEY = helius_api_key_here

FEE_RECIPIENT_WALLET_KEY_FILE = ./path/to/file.json
TREASURY_WALLET_KEY_FIL E= ./path/to/file.json
JACKPOT_WALLET_KEY_FILE = ./path/to/file.json
BUYBACK_WALLET_KEY_FILE = ./path/to/file.json

TELEGRAM_CHAT_ID=telegram_chat_id_here
REWARDS_TELEGRAM_BOT_TOKEN = reward_notifications_bot_token_here
JACKPOT_TELEGRAM_BOT_TOKEN = jackpot_notifications_bot_token_here

INDEXER_INTERVAL_MIN = indexer_schedule_interval_here