
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 79.999%, 82%, 99.999% {
    opacity: 1;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999%, 80%, 81.999% {
    opacity: 0.7;
  }
}

@keyframes noise {
  0%, 3%, 5%, 42%, 60%, 80%, 100% {
    transform: translate(0, 0);
  }
  2% {
    transform: translate(2px, 1px);
  }
  43% {
    transform: translate(0, 2px);
  }
  6% {
    transform: translate(-2px, 0);
  }
}

.flicker-effect {
  animation: flicker 2s infinite alternate;
}

.noise-effect {
  position: relative;
  animation: noise 0.3s infinite; /* Apply the noise animation directly */
}

.noise-effect-inline {
  position: relative;
  display: inline-block;
  animation: noise 0.3s infinite;
}
